button {
    padding: 0.25em;
    background-color: red;
    color: #e5e3e8;
    border-radius: 2px;
    line-height: 1.2em;
    font-size: 1em;
    font-size: 1rem;
    border: none;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #7d5bbe;
}

header {
    margin-bottom: 0.5em;
}

p {
    padding: 0.5em 0.5em;
    margin: 0;
    display: flex;
}

p label {
    flex-basis: 16em;
}

p input:not([type="checkbox"]) {
    flex-grow: 1;
}

ul {
    padding: 0.25em 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

ul > li {
    display: inline-block;
    margin: 0.5em 0.25em;
    padding: 0;
}

ul > li > figure {
    padding: 0;
    margin: 0;
    text-align: center;
}

ul > li > figure img {
    background: radial-gradient(ellipse 3em 0.5em at bottom 0.2em center, rgba(30,30,30,30.65) 0%,rgba(30,30,30,0) 35%);
    padding-bottom: 0.2em;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.dark ul > li > figure img {
    background: radial-gradient(ellipse 3em 0.5em at bottom 0.2em center, rgba(225,225,225,0.65) 0%,rgba(225,225,225,0) 40%);
}

small {
    opacity: 0.7;
    font-size: 0.6rem;
}
