button {
    padding: 0.25em;
    background-color: red;
    color: #e5e3e8;
    border-radius: 2px;
    line-height: 1.2em;
    font-size: 1em;
    font-size: 1rem;
    border: none;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #7d5bbe;
}

p {
    padding: 0.5em 0.5em;
    margin: 0;
    display: flex;
}

p label {
    flex-basis: 16em;
}

p input:not([type="checkbox"]) {
    flex-grow: 1;
}
