
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} ^/emotesets/([0-9]+)\.json$
RewriteRule ([0-9]+)\.json$ fetch.php?id=$1&legacy=true [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} ^/emotes/([0-9]+)\.json$
RewriteRule ([0-9]+)\.json$ fetch.php?id=$1 [NC,L]
